*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
	font-family: Korolev Condensed; 
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* this part of the code is */
.menu__toggler {
  position: absolute;
  top: 0px;
 
  z-index: 999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: white;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
	
}
.menu__toggler span::before {
  top: -8px;
}
.menu__toggler span::after {
  top: 8px;
}
.menu__toggler.active > span {
  background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background: white;
  top: 0px;
}
.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu {
  position: absolute;
	font-family: 'Oskar inline';
  left: -30%;
  z-index: 998;
  color: darkgoldenrod;
	
	
	
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}
@media only screen and (max-width: 600px) {
  .menu {
    width: 250px;
    left: -250px;
    padding: 50px;
  }
}
.menu.active {
  left: 0;
}
.menu p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}


button {
  position: absolute;
  top: 58%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
	font-family: 'AdomS Engraved', serif;
	font-weight:bolder;
	opacity: 0.8;
	border-radius: 2px;
	background:transparent;
	background-color: #424242;
}

button:hover {
  background-color: black;
}



.slide{
	margin: auto;
	margin-top: 200px;
}

.about {
	margin-top: 10px;
	float: right;
	font-family:AdornS Engraved, decorative;
	color: darkgoldenrod;
	
}

.text{
	font-size: 25px;
	font-family: Korolev Condensed; 
margin-top: 10px;
	float: right;
	color: black;
}

/* we used the media query to change the font-size from 25px to 20px on big screen */
@media only screen and (min-width: 768px) {
.text{
	font-size: 20px;
	font-family: Korolev Condensed; 
margin-top: 10px;
	float: right;
	color: black;
	margin-left: 100px;
	margin-right: 100px;
	}
}
	
.first {
	float: right;
}


.parallax {
  /* The image used */
  background-image: url("72201530_553796248544998_4301793008350658560_o.jpg");

  /* Set a specific height */
  min-height: 470px; 
	margin-top: 50px;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opening{
	background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
	position:absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  padding: 10px;
	color: white;
	margin-right: 20px;
background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	text-align: center;
	font-family: AdornS Engraved, decorative;
	
}

.open{
	font-size: 20px;
	font-family: Korolev Condensed;
}

@media only screen and (min-width: 768px) {
button1 {
  position: absolute;
  top: 70%;
  left: 22%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
	font-family: 'AdomS Engraved', serif;
	font-weight:bolder;
	opacity: 0.8;
	border-radius: 2px;
	background:transparent;
	
}
}
	
.details {
	width: 50%;
	vertical-align: top;
	float: left;
	margin-right: 20px;
	border: 5px solid black;
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
.details {
	width: 20%;
	vertical-align: top;
	float: left;
	margin-right: 20px;
	border: 5px solid black;
	margin-top: 20px;
}
}
.details1 {
	width: 50%;
	vertical-align: top;
	float: left;
	margin-right: 20px;
	border: 5px solid black;
	margin-top: 20px;
}
@media only screen and (min-width: 768px) {
.details1 {
	width: 20%;
	vertical-align: top;
	float: left;
	margin-right: 20px;
	border: 5px solid black;
	margin-top: 20px;
}
}
.showHide { display:none; }

/*when the screen is small some part of the text will not be visible - we had modify a part of the code we found on this website https://teamtreehouse.com/community/showhide-elements-depending-on-screen-size */
@media screen and (min-width: 768px) {
  .showHide  { display: block; }
  #leftside > button { display: none; }
}
.text2{
	font-size: 20px;
	font-family: Korolev Condensed; 
margin-top: -100px;
	float: right;
	color: black;
	margin-left: 655px;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
	margin-top: 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%; /* the max-width is 25& because we need 4 columns, if we needed 3 columns the max-width will be 33,33% */
  padding: 0 4px;
	margin-top: 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
	border: 5px solid black;
}

/* when the size of the screen is less than 800px instead of 4 column we will have only 2 columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* when the screen size is 600 px or less we will gonna have all the photo stack on the top of each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.photo {
	margin-top: 50px;
	align-items: center;
	font-family:AdornS Engraved, decorative;
	color: darkgoldenrod;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
@media only screen and (min-width: 768px) {
.C {
  float: left;
  width: 33.33%;
  padding: 10px;
}
}

.C {
  float: left;
  width: 33.33%;
  padding: 10px;
}
/* Clear floats after the columns */
.R:after {
  content: "";
  display: table;
  clear: both;
}


.services{
	font-family:AdornS Engraved, decorative;
	color: darkgoldenrod;
	float: left;
	margin-left: -40px;
}

@media only screen and (min-width: 768px) {
.services{
	font-family:AdornS Engraved, decorative;
	color: darkgoldenrod;
	margin-left: 150px;
}
}

.skin {
	font-family: AdornS Engraved, decorative;
	font-size: 30px;
	margin-top: 50px;
	
}

.description {
	font-size: 25px;
	font-family: Korolev Condensed;
	margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
.options{
	padding: 20px;
}
}

/* Create four equal columns that floats next to each other */
.c1 {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after the columns */
.r1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .c1  {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .c1  {
    width: 100%;
  }
}

.serv{
	width: 30%;
}

.youtube{
	margin-top: 30px;
	margin-left: 400px;
	
}

.vid{
	margin-top: 5px;
	font-family:AdornS Engraved, decorative;
	color: darkgoldenrod;
	text-align: center;
}

.showHide1 { display:none; }

/* we had modify a part of the code we found on this website https://teamtreehouse.com/community/showhide-elements-depending-on-screen-size */
@media screen and (max-width: 800px) {
  .showHide1  { display: block; }
  #leftside > button { display: none; }
}

.prod{
	font-family:AdornS Engraved, decorative;
	color: darkgoldenrod;
	background-color: black;
	text-align: center;
	margin-top: 10px;
}

.prllx {
  /* The image used */
  background-image: url("9.1.jpg");

  /* Set a specific height */
  min-height: 570px; 
	margin-top: 50px;




  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.source{
	color: white;
	background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  color: white;
	
}

.produ{
	color: goldenrod;
	background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
	font-family:AdornS Engraved, decorative;
	text-align: center;
  font-size: 25px;
}

.ft{
	background-image: url(c47f8144372f78fade415a5cae49d56e.jpg);
	height: 350px;
}

@media only screen and (min-width: 768px) {
.ft{
	background-image: url(c47f8144372f78fade415a5cae49d56e.jpg);
	height: 250px;
	}}
	
	
.contact{
	color: white;
	font-family:AdornS Engraved, decorative;
	margin-left: 30px;
}

.cont{
	color: white;
	margin-left: 5px;
}

 #map {
            width: 200px;
            height: 200px;
            margin-left: 10px;
	 margin-top: 20px;
        }
@media only screen and (min-width: 768px) {
	#map {
            width: 200px;
            height: 200px;
            margin-left: 1200px;
	 margin-top: -170px;
		border-radius: 20px;
        }
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.cont {
  position: relative;
}

/* Hide the images by default */
.mySlides1 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: darkgoldenrod;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 0px 1px;
  color: white;
	max-width: 400px;
}

.ro:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.co {
  float: left;
  width: 18.66%;
	margin-left: 3px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.videophone{
	width:370px ;
	height:225px;
	border: 0px;
}

.videocomputer{
	width:760px ;
	height:515px ;
	border: 4px solid black;
}